body {
    overflow-x: hidden;
}

.VN {
    font-family: 'Lora', serif;
    color: #64ffda;
    padding-left: 20px;
    padding-right: 20px;
}

.VN:hover {
    text-decoration: none;
}

#firstbar {
    background-color: #f9813a;
    height: 50px;
    width: 100%;
}

a {
    text-decoration: none;
}

a.top {
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    margin: 0px 30px;
    margin-top: 15px;
    text-decoration: none;
    transition-duration: 1s;
}

a.top:hover {
    font-size: 15px;
    color: #ffc93c;
    font-weight: bold;
}

@media (max-width: 770px) {
    a.top {
        margin: 0 15px;
        margin-top: 15px;
        font-size: 15px;
    }
}

@media (max-width: 630px) {
    #firstbar {
        height: 90px;
        width: 100%;
    }
    a.top {
        display: block;
        margin-top: 10px;
        font-size: 10px;
    }
    a.top:hover {
        font-size: 13px;
    }
}

@media (min-width: 993px) {
    .secondbar {
        margin-bottom: 25px;
    }
}

.navbar {
    padding: 0 0;
}

.navbar-toggler {
    color: black;
    background-color: #1f4068;
}

.navbar-brand {
    cursor: pointer;
}

.logoDiv {
    max-height: 100px;
    width: auto;
}

.Logo {
    /* max-width: 150px; */
    max-width: 150px;
    height: auto;
    /* border-radius: 50%; */
    /* margin-left: 15px; */
    display: inline-block;
}

.vannsh {
    -webkit-box-shadow: 0px 6px 28px -4px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 6px 28px -4px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 6px 28px -4px rgba(0, 0, 0, 0.52);
    background-color: #020c1b;
}

.college {
    color: #1f4068;
    margin-bottom: 0px;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    font-weight: bold;
}

.stranger {
    color: #30475e;
    margin-bottom: 0px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.color {
    color: #64ffda;
    font-size: 15px;
}

#Stop {
    display: inline-block;
    color: rgba(245, 245, 245, 0.61);
    font-size: 17px;
    cursor: pointer;
    text-align: right;
    margin: 0px 30px;
    margin-top: 40px;
    text-decoration: none;
    transition-duration: 0.2s;
}

#Stop:hover {
    /* font-size: 17.5px; */
    /* font-weight: bold; */
    color: #64ffda;
}

#imagediv {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Bimage {
    height: 600px;
    filter: grayscale(0%);
    width: 100%;
}

#intro {
    height: auto;
    width: 600px;
    position: absolute;
    margin: auto;
    color: #393e46;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin-bottom: 0px;
}

.Lbutton {
    /* border-radius: 10px; */
    border: 4px solid #f9813a;
    background-color: #f9813a;
    color: #f5f1da;
    font-size: 20px;
    padding: 5px 10px;
    transition-duration: 1s;
    font-family: 'Poppins', sans-serif;
}

.Lbutton:hover {
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.navyblue {
    background-color: #020c1b;
    height: 200vh;
}

.brand-heading {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    color: #40E0D0;
}

h2 {
    color: thistle;
}

.Abutton {
    background-color: transparent;
    /* border-radius: 15px; */
    padding: 1.25rem 1.75rem;
    border: 1px solid #64ffda;
    color: #64ffda;
    font-size: 15px;
    transition-duration: 1s;
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family: 'Poppins', sans-serif;
    z-index: 5;
    transition: all transition-len cubic-bezier(transition-bezier);
}

.Abutton:hover {
    cursor: pointer;
    background-color: rgba(34, 70, 118, 0.7);
    /* color: black; */
    z-index: 10;
    /* font-weight: bold; */
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#experience {
    margin-top: 20px;
}

#experience h2 {
    font-weight: 700;
    margin-top: 22px;
    padding-bottom: 10px;
    text-align: center;
}

.timeline-label h4 {
    margin-top: 0;
    font-size: 30px;
    color: #40E0D0;
    padding: 16px 0px;
    font-weight: 700;
}

.timeline-label p {
    color: #696969;
    padding: 8px 0px;
    line-height: 27px;
}

.button-group-li {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.timeline-label a {
    text-decoration: none;
}

.text-timeline {
    background: #40E0D0;
    color: #fff;
    font-size: 18px;
    height: 40px;
    padding: 0 25px;
    line-height: 40px;
}

.icon-li {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    box-sizing: border-box;
    border: 4px solid #40E0D0;
    border-left: none;
    -webkit-transition: 600ms -webkit-transform ease-in-out;
    transition: 600ms -webkit-transform ease-in-out;
    transition: 600ms transform ease-in-out;
    transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    color: #40E0D0;
    background: #fff;
    text-align: center;
}

.button-group-li:hover .icon-li {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.button-group-li {
    -webkit-perspective: 200px;
    perspective: 200px;
    -webkit-perspective-origin: calc(100% - 40px);
    perspective-origin: calc(100% - 40px);
}

.timeline-label {
    padding-left: 7%;
    margin-top: 2%;
}

.col-exp {
    margin-top: 2%;
}

.timeline .timeline-experience {
    position: relative;
    float: left;
    margin-left: 32px;
    padding-left: 64px;
    border-left: 2px solid #ccc;
}

.timeline .timeline-experience-info h5 {
    margin-top: 0;
    margin-bottom: 0.333em;
    font-size: 18px;
    color: #40E0D0;
    font-weight: 700;
}

.timeline .timeline-experience-info .timeline-role {
    font-size: 16px;
    color: #008080;
    font-weight: 600;
}

.timeline .timeline-experience-info p {
    font-size: 12px;
    color: #333;
    line-height: 27px;
}

.timeline time {
    display: block;
    width: 65px;
    color: #ccc;
    text-align: center;
    font-weight: 700;
}

.timeline .timeline-experience-img,
.timeline .timeline-experience-info,
.timeline .timeline-experience-info h5,
.timeline .timeline-experience-info .role,
.timeline .timeline-experience-info p {
    clear: none;
}

.timeline .timeline-experience .timeline-circle {
    position: absolute;
    top: 16px;
    left: -13px;
    display: block;
    width: 19px;
    height: 19px;
    border: 3px solid #ccc;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.timeline .timeline-experience-img {
    float: left;
    width: 64px;
    height: 64px;
}

.timeline .timeline-experience-img img {
    width: 100%;
}

.timeline .timeline-experience-info {
    margin-left: 87px;
}

.timeline-experience-info p {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {
    #Stop {
        font-size: 15px;
        ;
    }
    #Stop:hover {
        font-size: 18px;
    }
}

@media (max-width: 1050px) {
    .Logo {
        /* max-width: 100px;
    max-height: 60px; */
        max-width: 250px;
        height: auto;
    }
    .college {
        font-size: 25px;
    }
    .stranger {
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    #intro {
        font-size: 38px;
        width: 400px;
    }
    .Lbutton {
        font-size: 15px;
        padding: 2.5px 5px;
    }
}